@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B0F13;
  --foreground: #E5E7EB;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
}
